* {
    box-sizing: border-box;
    }
    
    *:focus {
    outline: none;
    }
    body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to top, #65c1ec, #214a5e) fixed;
    color: rgba(255,255,255,0.8);
    padding: 50px;
    text-decoration: none;
    }
    .login {
    margin: 20px auto;
    width: 450px;
    text-decoration: none;
    }
    .login-screen {
    background: #273b40;
    border: 4px solid #cae9ea;
    color: rgba(255,255,255,0.8);
    padding: 20px;
    font-family: 'Press Start 2P', sans-serif;
}
    
    .app-title {
    text-align: center;
    color: #cae9ea;
    }
    
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #FFF;
    border: 2px solid;
    
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 300px;
    transition: border .5s;
    }
    
    input:focus {
    border: 2px solid #fcec0c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .btn {
    border: solid;
    background: #091833;
    color: #cae9ea;
    font-size: 12px;
    line-height: 25px;
    padding: 10px 10px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: none;
    
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 300px;
    margin: 0 auto;
    }
    
    .btn:hover {
    background-color: #0abdc6;
    }
    
    .login-link {
    font-size: 12px;
    color: #1f00ea;
    display: block;
    margin-top: 12px;
    text-decoration: none;
    }
    
    
    .image {
        height: 200px;
        width: 400px;
        image-rendering: pixelated;
      }
      .image3 {
        height: 200px;
        width: 300px;
        image-rendering: pixelated;
      }
    
    
      .mainDIV{
        position:relative;
    
        width:100%;
        min-width:315px;
    }
    .leftDIV{
        position:absolute;
        top:600px;
        left:600px;
        height:50px;
        width:100px;
    
    }
    .leftDIV2{
        position:fixed;
        top:600px;
        left:1300px;
        height:50px;
        width:100px;
    
    }
    .middleDIV{
        height:250px;
        width:200px;
    
        margin:0px auto;
    }
    .rightDIV{
        position:absolute;
        top:-30px;
        right:375px;
        height:50px;
        width:50px;

    }
    .rightDIV2{
        position:fixed;
        top:130px;
        right:400px;
        height:100px;
        width:70px;

    }
    .flash-messages {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        width: auto;
        padding: 10px;
        background-color: #f44336;
        color: white;
        border-radius: 5px;
        opacity: 1;
        transition: opacity 2s ease-in-out;
    }
    
    .alert {
        padding: 10px;
        color: white;
        background-color: #f44336;
        border-radius: 5px;
        margin-bottom: 10px;
        transition: opacity 0.5s ease-out;
    }
    @keyframes MovingAnimation {
        0% {
            transform: translate(0, 0); 
        }
        25% {
            transform: translate(calc(100vw - 100px - 100%), 0); 
        }
        50% {
            transform: translate(calc(100vw - 100px - 100%), calc(100vh - 100px - 100%)); 
        }
        75% {
            transform: translate(0, calc(100vh - 100px - 100%)); 
        }
        100% {
            transform: translate(0, 0); 
        }    
    }

    .car1 {
        width: 100px;
        height: 100px;
        position: absolute;
        animation: MovingAnimation 10s linear infinite;
    }

    .car2 {
        width: 100px;
        height: 100px;
        position: absolute;
        animation: MovingAnimation 8s linear infinite;
    }
    .car3 {
        width: 100px;
        height: 100px;
        position: absolute;
        animation: MovingAnimation 12s linear infinite;
    }
