.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.radio input {
  position: absolute;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #091833;
}

li {
  float: left;
}

li a {
  display: block;
  color: #0abdc6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #011f40;
}

body {
  background: #65a4ec;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Press Start 2P', sans-serif;
}
label {
  font-size: 18px;
  color: #a895a7;
}
#form {
  width: 400px;
  font-family: 'Press Start 2P', sans-serif;
  padding: 10px;
  font-size: 18px;
  outline:none;
  background: linear-gradient(to left top, #000, #0849a4) fixed;
  border: 4px solid #007BFF;
  color: rgba(255,255,255,0.8);
  margin: 5px;
  transition: all 0.5s;
}
#formNumber {
width: 100px;
  font-family: 'Press Start 2P', sans-serif;
  padding: 10px;
  font-size: 18px;
  outline:none;
  background: linear-gradient(to left top, #000, #133e7c) fixed;
  border: 4px solid #007BFF;
  color: rgba(255,255,255,0.8);
  margin: 5px;
  transition: all 0.5s;
}

#form:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 4px solid #28A745;
}
#form:focus {
  border: 4px solid #28A745;
}

#button {
  width: 125px;
  font-family: 'Times New Roman', Times, serif;
  padding: 11px;
  font-size: 20px;
  font-weight:bold;
  margin: 5px;
  outline:none;
  background: linear-gradient(to left top, #000, #133e7c) fixed;
  border: 4px solid #007BFF;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

#buttonAdd {
  width: 350px;
  height: 125px;
  font-family: 'Press Start 2P', sans-serif;
  padding: 11px;
  font-size: 15px;
  font-weight:bold;
  margin: 5px;
  outline:none;
  background: linear-gradient(to left top, #000, #133e7c) fixed;
  border: 6px solid #007BFF;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
#buttonAdd:hover {
  border: 4px solid #28A745;
}

#buttonAdd:focus {
  border: 4px solid #28A745;
}

#button:hover {
  border: 4px solid #28A745;
}

#button:focus {
  border: 4px solid #28A745;
}
p {
  font-size: 1.2em;
  color: #007BFF;
}

h1 {
  font-size: 2.5em;
  color: #007BFF;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  color: #444bca;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 1.5em;
  color: #2863a7;
}
h4 {
    text-align: center;
    color: #007BFF;
}
p.card-text {
    font-size: 0.6em;
    color: #fbfeff;
}

.contact {
  padding-left: 25rem;
  padding-top: 15rem;
}
.contactUser {
  padding-bottom: 10px;
  height: 100px;
}
.contactText {
  vertical-align: middle;
  line-height: 100px; 
}
.image2 {
  float: left;
  height: 100px;
  width: 100px;  
  image-rendering: pixelated;
}
.forms-container {
  display: flex;
  justify-content: space-between; 
  width: 100%;
}

.queryform3, .queryform4 {
  width: 100%; 
  display: flex; 
}

.queryform4 {
  margin-right: auto; 
}

.queryform3 {
  margin-left: auto; 
}
.queryform {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #091833;
}
.querybox{
  margin: auto auto;
  width: fit-content;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #091833;
}
.querybox label {
  display: block;
  margin: 10px 0;
}
.querybox input, .querybox select {
  margin-left: 10px;
}


.tablecontainer {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}
.tableitem {
  background-color: #1e1e1e;
  border: 4px solid #007BFF;
  padding: 1rem;
  margin: 0 auto; 
  text-align: center; 
}
.image {
  height: 300px;
  width: 300px;  
  image-rendering: pixelated;
}
.imagebig {
  height: 400px;
  width: 400px;  
  image-rendering: pixelated;
}
.imgdiv {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cards2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.card-link {
  width: 100%; 
  text-decoration: none; 
  color: inherit; 
}

.card {
  background-color: #252b2e; 
  color: white; 
  margin: 10px auto;
  padding: 20px; 
  width: 80%; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
  border: 4px solid white; 
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 4px solid #28A745;
}

/*OUR VIDEO GAME TEST*/
.games {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.game {
  /* Add shadows to create the "card" effect */
  background-color: #1e1e1e;
  border: 4px solid white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
  transition: 0.3s;
  width: 300px;
  height: 450px;
}

.game:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 4px solid #2898a7;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column; 
}
.container2{
  background-color: #091833;
  padding: 2px 16px;
  height: 100px;
}
.newbody {
  background: #5d96d4;
  margin-top: 10px;
  height:800px;
  font-family: 'Times New Roman', Times, serif;
}