{% extends "navbar.html" %} {% block content %}
<h1>Crypto Punk database!</h1>
<div class="querybox">
  <a href="/games/{{randomNumber}}">
    <input type="submit" id="button" value="Random" />
  </a>
</div>

<form action="" method="post" class="queryform">
  <!-- User Rating Dropdown -->
  <div class="querybox">
    Title<input type="RAtitle" name="RAtitle" id="all" value="all" /><br>
    Genre<input type="RAgenre" name="RAgenre" id="all" value="all" />
    ReleaseDate<input type="RAreleaseDate" name="RAreleaseDate" id="all" value="all" />
    Developer<input type="RAdeveloper" name="RAdeveloper" id="all" value="all" />
    Publisher<input type="RApublisher" name="RApublisher" id="all" value="all" />
  </div>
  <div class="querybox">
    UserScore<input type="RAuserScore" name="RAuserScore" id="all" value="all" />
    UserRatingsCount<input type="RAuserRatingsCount" name="RAuserRatingsCount" id="7" value="7" />
    GameID<input type="gameid" name="gameid" id="" value="" />
    <input type="submit" id="button" value="Search" />
  </div>
</form>

<div class="cards">
  {%for i in range(0,length)%}
  <a href="/games/{{content[i][8]}}">
    <div class="card">
      <div class="container">
        <h4><b>Title of the game:<br> {{content[i][0]}}</b></h4>
          <p class="card-text">Release Date: {{content[i][1]}}</p>
          <p class="card-text">Developer: {{content[i][2]}}</p>
          <p class="card-text">Publisher: {{content[i][3]}}</p>
          <p class="card-text">Genres: {{content[i][4]}}</p>
          <p class="card-text">Product Rating: {{content[i][5]}}</p>
          <p class="card-text">User Score: {{content[i][6]}}</p>
          <p class="card-text">User Ratings Count: {{content[i][7]}}</p>
          <p class="card-text">Game id: {{content[i][8]}}</p>
        </div>
      </div>
  </a>
  {%endfor%}
</div>

{% endblock content %}
