{% extends "navbar.html" %} {% block content %}
<h1>Crypto Punk database!</h1>
<div class="querybox">
  <a href="/punk/{{randomNumber}}">
    <input type="submit" id="button" value="Random" />
  </a>
</div>

<form action="/games" method="get" class="queryform">
  <!-- User Rating Dropdown -->
  <div class="querybox">
    <select name="userRating" id="userRating">
      <option value="all">All User Ratings</option>
      <option value="7+">7+</option>
      <option value="5-7">5-7</option>
      <option value="<5">Less than 5</option>
    </select>
  </div>

  <!-- Submit Button -->
  <div class="querybox">
    <input type="submit" id="button" value="Search" />
  </div>
</form>

<div class="cards">
  {%for i in range(0,length)%}
  <a href="/games/{{content[i][8]}}">
    <div class="card">
      <div class="container">
        <h4><b>Title of the game:<br> {{content[i][0]}}</b></h4>
          <p class="card-text">Release Date: {{content[i][1]}}</p>
          <p class="card-text">Developer: {{content[i][2]}}</p>
          <p class="card-text">Publisher: {{content[i][3]}}</p>
          <p class="card-text">Genres: {{content[i][4]}}</p>
          <p class="card-text">Product Rating: {{content[i][5]}}</p>
          <p class="card-text">User Score: {{content[i][6]}}</p>
          <p class="card-text">User Ratings Count: {{content[i][7]}}</p>
          <p class="card-text">Game id: {{content[i][8]}}</p>
        </div>
      </div>
  </a>
  {%endfor%}
</div>

{% endblock content %}
