{% extends "navbar.html" %} {% block content %}
<h1>GameHub</h1>
<div class="querybox">
  <a href="/games/{{randomNumber}}">
    <input type="submit" id="button" value="Random" />
  </a>

<form action="" method="post" class="queryform">
  <!-- User Rating Dropdown -->

  <div class="querybox">
    Title<input type="RAtitle" name="RAtitle" id="all" value="all" /><br>
    Genre<input type="RAgenre" name="RAgenre" id="all" value="all" />
    ReleaseDate<input type="RAreleaseDate" name="RAreleaseDate" id="all" value="all" />
    Developer<input type="RAdeveloper" name="RAdeveloper" id="all" value="all" />
    Publisher<input type="RApublisher" name="RApublisher" id="all" value="all" />
  </div>
  <div class="querybox">
    UserScore<select type = "RAuserScore" id="RAuserScore" name="RAuserScore">
        <option value="0-3">0-3</option>
        <option value="3-6">3-6</option>
        <option value="6-9">6-9</option>
      </select>
    UserRatingsCount<input type="RAuserRatingsCount" name="RAuserRatingsCount" id="all" value="all" />
    GameID<input type="gameid" name="gameid" id="" value="" />
    <input type="submit" id="button" value="Search" />
</div>

</form>

<div class="cards">
  {% for i in range(0, length) %}
  <a href="/games/{{ content[i][8] }}" class="card-link">
    <div class="card">
      <div class="container">
        <h4>{{ content[i][0] }}</h4>
        <p class="card-text">Genres: {{ content[i][4] }}</p>
        <p class="card-text">User Score: {{ content[i][6] }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock content %}
